@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto:ital,wght@1,100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to left top, #F2CC0F , #8CBF3F,#9453A6, #f2f2f2);
    background-repeat: no-repeat;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.section1 {
    display: flex;
    justify-content: center;
}

.section2 {
    display: flex;
    justify-content: center;
}

.question{
	font-weight: 600;
}

.answers {
  margin-bottom: 20px;
}

.answers label{
  display: block;
}

#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #0d0d0d;
	color: #9453A6;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

#submit:hover{
	background-color: #F2CC0F;
}